/* all of aidans styling stuff */

.body {
  background-image: linear-gradient(to right, lightcyan, azure);
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
}

.title {
  text-align: center;
  color: #2e3f42;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
}

.gordonpicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border-style: outset;
  border-color: #788587;
  border-width: 10px;
}

.content {
  background-color: #fcffff;
  border-style: double;
  border-width: 10px;
  border-color: black;
}

.divider {
  color: black;
  margin-left: 100px;
  margin-right: 100px;
}

.mainquote {
  text-align: center;
  color: #2e3f42;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.textleft {
  margin-left: 100px;
  margin-right: 10px;
  color: #2e3f42;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  overflow: auto;
}

.textright {
  margin-left: 10px;
  margin-right: 100px;
  color: #2e3f42;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  overflow: auto;
}

.popout {
  margin: 3px;
  color: black;
  font-size: 22px;
}

.imageright {
  float: right;
  border-style: groove;
  border-color: black;
  border-width: 5px;
  margin-right: 100px;
  margin-left: 5px;
}

.imageleft {
  float: left;
  border-style: groove;
  border-color: black;
  border-width: 5px;
  margin-right: 5px;
  margin-left: 100px;
}

.paraoverflow {
  overflow: auto;
}
